.slides {
  height: 90%;
  overflow: hidden;
  margin-bottom: 0;
}

.slide {
  padding: 50px 0;
  box-shadow: 10px 10px 15px $base01;

  header {
    background-color: $base02;
    @include span-columns(3);
    @include omega();
    position: fixed;
    top: 0;

    h1 {
      font-size: em(24);
    }

    h2 {
      text-align: center;
      color: $base3;
    }
  }

  p, li {
    font-size: 28px;
    line-height: em(28);
    padding-right: em(36);
  }

  .dom-diagram, .synth-svg, .synth-gif, .dsp-svg {
    margin: 0;
  }
  .synth-gif {
    padding-top: 20px;
  }

  .dsp-svg {
    padding-top: 80px;
  }

  .json, .whale, .snowfall {
    margin-top: -55px;
    margin-left: -60px;
    width: 650px;
  }

  .storyboard {
    margin-top: -75px;
    margin-left: -60px;
    width: 650px;
  }
  
  .nytimes, .mess, .ast {
    margin-top: -65px;
    margin-left: -60px;
    width: 650px;
  }

  .ast {
    margin-top: -70px;
    margin-left: -60px;
    width: 650px;
  }

  .dom-diagram {
    margin-left: -80px;
    margin-top: -20px;
    width: 700px;
  }

  blockquote {
    margin-left: em(-10);
    
    strong, em {
      color: $red;
    }

    p {
      padding-right: em(40);
      margin-bottom: em(20); 
      font-size: 24px;
      line-height: em(24);
    }
    + p {
      padding-right: em(60);
      font-size: 24px;
      text-align: right;
    }
    + p + p {
      padding-right: em(60);
      font-size: 18px;
      text-align: center;
    }
  }
  code {
    font-size: 20px;
  }
  
  ol {
    list-style-type: upper-roman;
  }
  
  table {
    margin-left: -60px;
    font-size: 24px;
    table-layout: fixed;
    tr {
      height: 80px;
    }
    &.comparison {
      margin-top: 55px;
      margin-left: -65px;
    }
    &.resources {
      font-size: 20px;
      margin-top: -35px;
      margin-left: -65px;
      tr {
        height: em(40);
      }
    }
  }

  section {
    @include shift(2);
    padding: 80px 0;
  }

  img {
    margin-left: em(-75);
    padding-top: em(40);
    width: em(330); 
  }

  ul {
    li {
      p {
        font-size: em(24);
      }
    }
  }
  
  width: em(800); 
  height: em(600);
  &:not(.active) {
    opacity: 0.3;
  }
  &.title, &.section-title {
    padding: 100px  0;
    header {
      position: relative;
      padding: em(30) 0;
      width: 100%;
      h1 {
        font-size: em(48);
      }
      h2 {
        text-align: center;
        color: $base1;
      }
    }
  }
  &.section1 {
    header, th {
      background-color: $green;
    }

  }
  &.section2 {
    header, th {
      background-color: $blue;
    }
  }
  &.section3 {
    header, th {
      background-color: $cyan;
    }
  }

  &.section4 {
    header, th {
      background-color: $violet;
    }
  }

}

.programme {
  background-color: $base02;

  header {
    background-color: $base00;
    @include omega;
  }

  section {
    @include shift(0);
    @include span-columns(12);
  }

  a > h2 {
    margin: 0;
    text-align: center;
    margin-bottom: em(20);
    padding: em(15);
    color: $base3;

    &.section1 {
      background-color: $green;
    }
    &.section2 {
        background-color: $blue;
    }
    &.section3 {
        background-color: $cyan;
    }
    &.section4 {
        background-color: $violet;
    }
  }
}

.quote, .normal, .text, .table {
  header {
    h1 {
      font-size: em(24);
    }
    h2 {
      font-size: em(18);
      background-color: $base02;
      padding: em(9) 0;
    }
  }

  h1 {
    font-size: em(48);
    padding: em(40) em(10);

    span {
      margin: em(5);
    }
  }

  span {
    color: $red;
  }
}
.text {
  section {
    padding: 125px 0 80px 0;
  }
}

.table {
  section {
    padding: 80px 0;
  }
  .principles, .implementation, .subprojects, .partners {
    margin-top: -40px;
    font-size: 20px;
    table-layout: fixed;
    tr {
      height: 60px;
    }
    li {
      font-size: 20px;
    }
  }

  .partners {
    margin-top: -5px;
    font-size: 18px;
    tr {
      height: 35px;
    }
  }

  .implementation {
    margin-top: -15px;
  }

  .subprojects {
    margin-top: 20px;
  }
}
.indent {
  margin-left: em(35);
}

.imperative {
  p {
    font-size: em(26);
    margin-bottom: em(10);
  }
}

.declarative {
  margin-left: em(-30);
  margin-top: em(120); 
}
