$max-width: 1024px;
$mobile: new-breakpoint(max-width 700px 10);

body {
  @include outer-container;
  background: $base3;
  color: $textColor;
  font-family: 'abel', cursive;
  line-height: 1.5em;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h5, p {
  margin: 0;
  font-weight: normal;
}

  
span {
 color: $base1;
}

.highlight {
  padding: em(8px, 16px) em(24px, 16px);
  background: $base02;
  box-shadow: inset -10px -10px 10px -5px $base03;
  margin-bottom: em(16px, 16px);
}

a {
  text-decoration: none;
}

