.chart, #chart {
  @include span-columns(9);
  @include omega();
  
  div {
    padding: em(10);
    margin-bottom: em(10);
    background-color: $base01; 
  }

  @for $i from 0 to 7 {
    div[data-difficulty=level#{$i}] {
      $level-color: nth($labelColors, $i + 1);
      background-color: $level-color;
    }
  }
}
