$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base1_5:   #D0D0C4;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$backgroundColor: $base3;
$accentColor: $red;

$textColor: $base03;
$inverseTextColor: $base3;
$linkColor: $base03;

$cardBackgroundColor: $base1;
$cardTextColor: $base02;
$cardLinkColor: $linkColor;

$labelColor: $base02;
$labelTextColor: $base3;

$level0: $base01;
$absoluteBeginnerColor: $green;
$beginnerColor: $cyan;
$advancedBeginnerColor: $blue;
$intermediateColor: $violet;
$advancedColor: $magenta;
$expertColor: $base03;

$level0: $base01;
$level1: $green;
$level2: $cyan;
$level3: $blue;
$level4: $violet;
$level5: $magenta;
$level6: $base03;

$labelColors: $level0, $level1, $level2, $level3, $level4, $level5, $level6;
