.site-header {
  h1 {
    font-family: $accentFont;
    font-size: em(24, 16); 
    margin-top: em(8, 24);
    margin-bottom: em(8, 24); 
    padding-left: em(15, 24);
    padding-right: em(15, 24);
    padding-bottom: em(8, 24);
    text-align: right;
    letter-spacing: em(-1, 24);
    border-bottom: em(2, 24) solid $accentColor;
    @include media($mobile) {
      font-size: em(20, 16);
    }
  }
}
