.resource {

  table {
    @include span-columns(12);
    background-color: $base2;
    margin-bottom: em(20);
    @include media($mobile){
      margin-bottom: em(24);
      margin-top: em(8);
    }
  }

  header {
    @include omega();
    span {
      display: none;
      @include media($mobile) {
        display: inline-block;
      }
    }
    
  }

  footer {
    @include span-columns(3);
    @include shift(9);
    background-color: $labelColor;
    margin-top: em(0);
    padding: em(8) em(20);
    border: none;
    @include media($mobile) {
      display: none
    }

    h1 {
      font-size: em(18);
      color: $labelTextColor;
      text-align: center;
    }
  }
  section {
    @include shift(3);
    padding-left: em(24);
    @include media($mobile) {
      @include shift(0);
      @include span-columns(10);
      padding: em(0) em(16);
    }

    p {
      padding: em(8) em(8);
    }
  }

  th, td {
    padding: em(8);
  }
  tr {
    background-color: $base3;
  }

  th {
    background-color: $base02;
    color: $base3;
  }

  @for $i from 0 to 7 {
    &.level#{$i} {
      $level-color: nth($labelColors, $i + 1); 
      .card-header, .card-footer{
        background-color: $level-color;
      }
      th {
        background-color: $level-color;
      }
    }
  }
}
