.site-nav {
  @include span-columns(2);
  @include media($mobile){
    @include span-columns(10);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: em(16);

    li{
      font-family: $accentFont;
      background-color: $base2;
      margin-bottom: em(8);
      padding-top: em(8);
      padding-bottom: em(8);
      text-align: center;

      &:hover {
        background-color: $accentColor;

        a {
          color: $base3;
        }
      }
    }
  }
}
