table {
  @include span-columns(12);
  background-color: $base2;
  margin-bottom: em(32);
  @include media($mobile){
    margin-bottom: em(24);
    margin-top: em(8);
  }
  
  th, td {
    padding: em(8);
  }
  tr {
    background-color: $base3;
  }

  th {
    background-color: $base02;
    color: $base3;
  }
}

rijks-search-widget {
  @include span-columns(10);
  @include omega();
}
