* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@import url(http://fonts.googleapis.com/css?family=Abel|CodyStar);
body {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  background: #fdf6e3;
  color: #002b36;
  font-family: 'abel', sans-serif;
  line-height: 1.5em;
  font-size: 1em; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

h1, h2, h3, h4, h5, h5, p {
  margin: 0;
  font-weight: normal; }

p {
  margin-bottom: 1em; }

ul, ol {
  padding-left: 1.25em; }
  ul p, ol p {
    margin-bottom: 0.5em; }

a {
  text-decoration: none;
  color: #002b36; }
  a:hover {
    color: #dc322f; }

.highlight {
  padding: 0.5em 1.5em;
  background: #93a1a1;
  box-shadow: inset -10px -10px 10px -5px #002b36;
  margin-bottom: 1em; }

.site-header h1 {
  font-family: 'codystar', cursive;
  font-size: 1.5em;
  margin-top: 0.33333em;
  margin-bottom: 0.33333em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-bottom: 0.33333em;
  text-align: right;
  letter-spacing: -0.04167em;
  border-bottom: 0.08333em solid #dc322f; }
  @media screen and (max-width: 43.75em) {
    .site-header h1 {
      font-size: 1.25em; } }

.site-nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .site-nav:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75em) {
    .site-nav {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .site-nav:last-child {
        margin-right: 0; } }
  .site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em; }
    .site-nav ul li {
      font-family: 'codystar', cursive;
      background-color: #eee8d5;
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      text-align: center; }
      .site-nav ul li:hover {
        background-color: #dc322f; }
        .site-nav ul li:hover a {
          color: #fdf6e3; }

footer {
  margin-top: 0.5em;
  border-top: 0.125em solid #dc322f; }

.card {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0;
  position: relative;
  background-color: #93a1a1;
  color: #073642;
  padding: 0em;
  margin-bottom: 1.5em; }
  .card:last-child {
    margin-right: 0; }
  .card:not(:first-child) {
    margin-left: 17.05961%; }
    @media screen and (max-width: 43.75em) {
      .card:not(:first-child) {
        margin-left: 0%; } }
  .card:last-child {
    margin-bottom: 0; }
  .card header {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #073642; }
    .card header:last-child {
      margin-right: 0; }
    @media screen and (max-width: 43.75em) {
      .card header {
        display: block;
        float: left;
        margin-right: 2.84259%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em; }
        .card header:last-child {
          margin-right: 0; } }
    .card header h1 {
      font-size: 1.125em;
      padding: 0.44444em 1.11111em;
      color: #fdf6e3;
      text-align: center; }
    .card header div {
      color: #073642;
      text-align: center; }
  .card section {
    margin-left: 30.85278%;
    padding: 1em 2.25em 1em 0em; }
    .card section a {
      color: #002b36; }
      .card section a:hover {
        color: #dc322f; }
    @media screen and (max-width: 43.75em) {
      .card section {
        margin-left: 0%;
        padding: 1em; } }
  @media screen and (max-width: 43.75em) {
    .card {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .card:last-child {
        margin-right: 0; } }

.post {
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0; }
  .post:last-child {
    margin-right: 0; }
  .post .cover-image {
    *zoom: 1;
    display: block;
    margin-top: 3em;
    margin-bottom: 4em; }
    .post .cover-image:before, .post .cover-image:after {
      content: " ";
      display: table; }
    .post .cover-image:after {
      clear: both; }
    .post .cover-image img {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .post .cover-image img:last-child {
        margin-right: 0; }
  .post .post-header h1 {
    font-size: 1.5em; }
  .post .post-content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
    .post .post-content:last-child {
      margin-right: 0; }
    .post .post-content p {
      margin-bottom: 1em; }
    @media screen and (max-width: 43.75em) {
      .post .post-content {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1; } }
  @media screen and (max-width: 43.75em) {
    .post {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .post:last-child {
        margin-right: 0; } }

table {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #eee8d5;
  margin-bottom: 2em; }
  table:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75em) {
    table {
      margin-bottom: 1.5em;
      margin-top: 0.5em; } }
  table th, table td {
    padding: 0.5em; }
  table tr {
    background-color: #fdf6e3; }
  table th {
    background-color: #073642;
    color: #fdf6e3; }

.profile {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0; }
  .profile:last-child {
    margin-right: 0; }
  .profile:not(:first-child) {
    margin-left: 17.05961%; }
  .profile .profile-picture {
    overflow: hidden;
    max-height: 360px; }
    .profile .profile-picture img {
      -webkit-filter: sepia(30%);
      -moz-filter: sepia(30%);
      -ms-filter: sepia(30%);
      -o-filter: sepia(30%);
      filter: sepia(30%);
      max-width: 100%;
      min-width: 100%; }
      .profile .profile-picture img:hover {
        -webkit-filter: sepia(100%);
        -moz-filter: sepia(100%);
        -ms-filter: sepia(100%);
        -o-filter: sepia(100%);
        filter: sepia(100%); }
  @media screen and (max-width: 43.75em) {
    .profile {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%;
      margin-left: 0%; }
      .profile:last-child {
        margin-right: 0; }
      .profile:not(:first-child) {
        margin-left: 0%; } }

.snippet {
  background-color: #eee8d5; }

.resource header {
  margin-right: 0; }
  .resource header span {
    display: none; }
    @media screen and (max-width: 43.75em) {
      .resource header span {
        display: inline-block; } }
  .resource header div {
    padding: 0.66667em;
    font-family: 'codystar', cursive;
    background-color: #586e75;
    color: #fdf6e3;
    font-size: 2.25em; }
    @media screen and (max-width: 43.75em) {
      .resource header div {
        display: none; } }
.resource section {
  margin-left: 30.85278%;
  padding-left: 1.5em; }
  @media screen and (max-width: 43.75em) {
    .resource section {
      margin-left: 0%;
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%;
      padding: 0em 1em; }
      .resource section:last-child {
        margin-right: 0; } }
  .resource section p {
    padding: 0em 0.5em; }
.resource.level0 header div {
  background-color: #586e75; }
.resource.level0 table a:hover {
  color: #586e75; }
.resource.level0 table th {
  background-color: #586e75; }
@media screen and (max-width: 43.75em) {
  .resource.level0 header {
    background-color: #586e75; } }
.resource.level1 header div {
  background-color: #859900; }
.resource.level1 table a:hover {
  color: #859900; }
.resource.level1 table th {
  background-color: #859900; }
@media screen and (max-width: 43.75em) {
  .resource.level1 header {
    background-color: #859900; } }
.resource.level2 header div {
  background-color: #2aa198; }
.resource.level2 table a:hover {
  color: #2aa198; }
.resource.level2 table th {
  background-color: #2aa198; }
@media screen and (max-width: 43.75em) {
  .resource.level2 header {
    background-color: #2aa198; } }
.resource.level3 header div {
  background-color: #268bd2; }
.resource.level3 table a:hover {
  color: #268bd2; }
.resource.level3 table th {
  background-color: #268bd2; }
@media screen and (max-width: 43.75em) {
  .resource.level3 header {
    background-color: #268bd2; } }
.resource.level4 header div {
  background-color: #6c71c4; }
.resource.level4 table a:hover {
  color: #6c71c4; }
.resource.level4 table th {
  background-color: #6c71c4; }
@media screen and (max-width: 43.75em) {
  .resource.level4 header {
    background-color: #6c71c4; } }
.resource.level5 header div {
  background-color: #d33682; }
.resource.level5 table a:hover {
  color: #d33682; }
.resource.level5 table th {
  background-color: #d33682; }
@media screen and (max-width: 43.75em) {
  .resource.level5 header {
    background-color: #d33682; } }
.resource.level6 header div {
  background-color: #002b36; }
.resource.level6 table a:hover {
  color: #002b36; }
.resource.level6 table th {
  background-color: #002b36; }
@media screen and (max-width: 43.75em) {
  .resource.level6 header {
    background-color: #002b36; } }

.main {
  padding: 0.5em 1em;
  *zoom: 1;
  display: block; }
  .main:before, .main:after {
    content: " ";
    display: table; }
  .main:after {
    clear: both; }
  @media screen and (max-width: 43.75em) {
    .main {
      padding: 0.5em;
      padding-top: 0em; } }

.chart {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  .chart:last-child {
    margin-right: 0; }
  .chart div {
    background-color: #dc322f;
    padding: 0.625em;
    margin-bottom: 0.625em; }
