* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@import url(http://fonts.googleapis.com/css?family=Abel|CodyStar);
body {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  background: #fdf6e3;
  color: #002b36;
  font-family: 'abel', sans-serif;
  line-height: 1.5em;
  font-size: 1em; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

h1, h2, h3, h4, h5, h5, p {
  margin: 0;
  font-weight: normal; }

p {
  margin-bottom: 1em; }

ul, ol {
  padding-left: 1.25em; }
  ul p, ol p {
    margin-bottom: 0.5em; }

a {
  text-decoration: none;
  color: #002b36; }
  a:hover {
    color: #dc322f; }

.highlight {
  padding: 0.5em 1.5em;
  background: #93a1a1;
  box-shadow: inset -10px -10px 10px -5px #002b36;
  margin-bottom: 1em; }

.site-header {
  *zoom: 1;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  border-bottom: 0.125em solid #dc322f;
  margin-bottom: 0.5em; }
  .site-header h1 {
    font-family: 'codystar', cursive;
    font-size: 1.5em;
    margin-top: 0.33333em;
    margin-bottom: 0.33333em;
    float: right;
    letter-spacing: -0.04167em; }
    @media screen and (max-width: 43.75em) {
      .site-header h1 {
        font-size: 1.25em; } }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }
  .site-header .menu-button {
    float: left; }
    @media screen and (min-width: 93.75em) {
      .site-header .menu-button {
        display: none; } }
    .site-header .menu-button:hover {
      background-color: #dc322f; }

.menu-panel {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 14.375em;
  height: 100%;
  background-color: #002b36; }
  .menu-panel .main-nav {
    color: #fdf6e3; }
    .menu-panel .main-nav ul {
      list-style-type: none;
      margin: 0;
      margin-top: 3.125em;
      padding: 0;
      width: 100%;
      height: 100%; }
      .menu-panel .main-nav ul li {
        margin: 0.625em 0;
        padding: 0.625em;
        background-color: #073642;
        font-family: 'codystar', cursive; }
        .menu-panel .main-nav ul li a {
          color: #fdf6e3; }
        .menu-panel .main-nav ul li:hover {
          background-color: #dc322f; }
  .menu-panel.open {
    left: 0; }
  @media screen and (max-width: 93.75em) {
    .menu-panel {
      left: -14.375em; } }

.open, .default, .pushed {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.sidebar {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75em) {
    .sidebar {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .sidebar:last-child {
        margin-right: 0; } }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em; }
    .sidebar ul.metadata {
      background-color: #eee8d5;
      padding: 1em; }
    .sidebar ul li {
      font-family: 'abel', sans-serif;
      font-size: 0.875em;
      color: #586e75;
      margin-bottom: 0.57143em; }
      .sidebar ul li span {
        color: #93a1a1; }
    .sidebar ul.menu li {
      text-align: center;
      font-size: 0.875em;
      background-color: #eee8d5;
      padding: 1em; }
    .sidebar ul.menu li:hover {
      background-color: #dc322f;
      color: #fdf6e3; }

footer {
  margin-top: 0.5em;
  border-top: 0.125em solid #dc322f; }

.presentation-card {
  *zoom: 1;
  display: block; }
  .presentation-card:before, .presentation-card:after {
    content: " ";
    display: table; }
  .presentation-card:after {
    clear: both; }

.card {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0;
  *zoom: 1;
  display: block;
  position: relative;
  background-color: #93a1a1;
  color: #073642;
  padding: 0em;
  margin-bottom: 1.5em; }
  .card:last-child {
    margin-right: 0; }
  .card:before, .card:after {
    content: " ";
    display: table; }
  .card:after {
    clear: both; }
  .card:not(:first-child) {
    margin-left: 17.05961%; }
    @media screen and (max-width: 43.75em) {
      .card:not(:first-child) {
        margin-left: 0%; } }
  .card:last-child {
    margin-bottom: 0; }
  .card header, .card .label {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #073642; }
    .card header:last-child, .card .label:last-child {
      margin-right: 0; }
    @media screen and (max-width: 43.75em) {
      .card header, .card .label {
        display: block;
        float: left;
        margin-right: 2.84259%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em; }
        .card header:last-child, .card .label:last-child {
          margin-right: 0; } }
    .card header h1, .card .label h1 {
      font-size: 1.125em;
      padding: 0.44444em 1.11111em;
      color: #fdf6e3;
      text-align: center; }
    .card header div, .card .label div {
      color: #073642;
      text-align: center; }
  .card section {
    margin-left: 30.85278%;
    padding: 1em 2.25em 1em 0em; }
    .card section a {
      color: #002b36; }
      .card section a:hover {
        color: #dc322f; }
    @media screen and (max-width: 43.75em) {
      .card section {
        margin-left: 0%;
        padding: 1em; } }
  @media screen and (max-width: 43.75em) {
    .card {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .card:last-child {
        margin-right: 0; } }

.post {
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0; }
  .post:last-child {
    margin-right: 0; }
  .post .cover-image {
    *zoom: 1;
    display: block;
    margin-top: 3em;
    margin-bottom: 4em; }
    .post .cover-image:before, .post .cover-image:after {
      content: " ";
      display: table; }
    .post .cover-image:after {
      clear: both; }
    .post .cover-image img {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .post .cover-image img:last-child {
        margin-right: 0; }
  .post .post-header h1 {
    font-size: 1.5em; }
  .post .post-content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; }
    .post .post-content:last-child {
      margin-right: 0; }
    .post .post-content p {
      margin-bottom: 1em; }
    @media screen and (max-width: 43.75em) {
      .post .post-content {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1; } }
  @media screen and (max-width: 43.75em) {
    .post {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%; }
      .post:last-child {
        margin-right: 0; } }

table {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: table;
  background-color: #eee8d5;
  margin-bottom: 2em; }
  table:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75em) {
    table {
      margin-bottom: 1.5em;
      margin-top: 0.5em; } }
  table th, table td {
    padding: 0.5em; }
  table tr {
    background-color: #fdf6e3; }
  table th {
    background-color: #073642;
    color: #fdf6e3; }

rijks-search-widget {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0; }
  rijks-search-widget:last-child {
    margin-right: 0; }

.profile {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-right: 0; }
  .profile:last-child {
    margin-right: 0; }
  .profile:not(:first-child) {
    margin-left: 17.05961%; }
  .profile .profile-picture {
    overflow: hidden;
    max-height: 360px; }
    .profile .profile-picture img {
      -webkit-filter: sepia(30%);
      -moz-filter: sepia(30%);
      -ms-filter: sepia(30%);
      -o-filter: sepia(30%);
      filter: sepia(30%);
      max-width: 100%;
      min-width: 100%; }
      .profile .profile-picture img:hover {
        -webkit-filter: sepia(100%);
        -moz-filter: sepia(100%);
        -ms-filter: sepia(100%);
        -o-filter: sepia(100%);
        filter: sepia(100%); }
  @media screen and (max-width: 43.75em) {
    .profile {
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%;
      margin-left: 0%; }
      .profile:last-child {
        margin-right: 0; }
      .profile:not(:first-child) {
        margin-left: 0%; } }

.presentation-card {
  margin-bottom: 1.5em; }

.snippet {
  background-color: #eee8d5; }

.topic header {
  margin-right: 0; }
  .topic header span {
    display: none; }
    @media screen and (max-width: 43.75em) {
      .topic header span {
        display: inline-block; } }
  .topic header div {
    padding: 0.66667em;
    font-family: 'codystar', cursive;
    background-color: #586e75;
    color: #fdf6e3;
    font-size: 2.25em; }
    @media screen and (max-width: 43.75em) {
      .topic header div {
        display: none; } }
.topic section {
  margin-left: 30.85278%;
  padding-left: 1.5em; }
  @media screen and (max-width: 43.75em) {
    .topic section {
      margin-left: 0%;
      display: block;
      float: left;
      margin-right: 2.84259%;
      width: 100%;
      padding: 0em 1em; }
      .topic section:last-child {
        margin-right: 0; } }
  .topic section p {
    padding: 0em 0.5em; }
.topic[data-difficulty=level0] header div {
  background-color: #586e75; }
.topic[data-difficulty=level0] table a:hover {
  color: #586e75; }
.topic[data-difficulty=level0] table th {
  background-color: #586e75; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level0] header {
    background-color: #586e75; } }
.topic[data-difficulty=level1] header div {
  background-color: #859900; }
.topic[data-difficulty=level1] table a:hover {
  color: #859900; }
.topic[data-difficulty=level1] table th {
  background-color: #859900; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level1] header {
    background-color: #859900; } }
.topic[data-difficulty=level2] header div {
  background-color: #2aa198; }
.topic[data-difficulty=level2] table a:hover {
  color: #2aa198; }
.topic[data-difficulty=level2] table th {
  background-color: #2aa198; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level2] header {
    background-color: #2aa198; } }
.topic[data-difficulty=level3] header div {
  background-color: #268bd2; }
.topic[data-difficulty=level3] table a:hover {
  color: #268bd2; }
.topic[data-difficulty=level3] table th {
  background-color: #268bd2; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level3] header {
    background-color: #268bd2; } }
.topic[data-difficulty=level4] header div {
  background-color: #6c71c4; }
.topic[data-difficulty=level4] table a:hover {
  color: #6c71c4; }
.topic[data-difficulty=level4] table th {
  background-color: #6c71c4; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level4] header {
    background-color: #6c71c4; } }
.topic[data-difficulty=level5] header div {
  background-color: #d33682; }
.topic[data-difficulty=level5] table a:hover {
  color: #d33682; }
.topic[data-difficulty=level5] table th {
  background-color: #d33682; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level5] header {
    background-color: #d33682; } }
.topic[data-difficulty=level6] header div {
  background-color: #002b36; }
.topic[data-difficulty=level6] table a:hover {
  color: #002b36; }
.topic[data-difficulty=level6] table th {
  background-color: #002b36; }
@media screen and (max-width: 43.75em) {
  .topic[data-difficulty=level6] header {
    background-color: #002b36; } }

.chart, #chart {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  .chart:last-child, #chart:last-child {
    margin-right: 0; }
  .chart div, #chart div {
    padding: 0.625em;
    margin-bottom: 0.625em;
    background-color: #586e75; }
  .chart div[data-difficulty=level0], #chart div[data-difficulty=level0] {
    background-color: #586e75; }
  .chart div[data-difficulty=level1], #chart div[data-difficulty=level1] {
    background-color: #859900; }
  .chart div[data-difficulty=level2], #chart div[data-difficulty=level2] {
    background-color: #2aa198; }
  .chart div[data-difficulty=level3], #chart div[data-difficulty=level3] {
    background-color: #268bd2; }
  .chart div[data-difficulty=level4], #chart div[data-difficulty=level4] {
    background-color: #6c71c4; }
  .chart div[data-difficulty=level5], #chart div[data-difficulty=level5] {
    background-color: #d33682; }
  .chart div[data-difficulty=level6], #chart div[data-difficulty=level6] {
    background-color: #002b36; }

.slides {
  height: 90%;
  overflow: hidden;
  margin-bottom: 0; }

.slide {
  padding: 50px 0;
  box-shadow: 10px 10px 15px #586e75;
  width: 50em;
  height: 37.5em; }
  .slide header {
    background-color: #073642;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    position: fixed;
    top: 0; }
    .slide header:last-child {
      margin-right: 0; }
    .slide header h1 {
      font-size: 1.5em; }
    .slide header h2 {
      text-align: center;
      color: #fdf6e3; }
  .slide p, .slide li {
    font-size: 28px;
    line-height: 1.75em;
    padding-right: 2.25em; }
  .slide .dom-diagram, .slide .synth-svg, .slide .synth-gif, .slide .dsp-svg {
    margin: 0; }
  .slide .synth-gif {
    padding-top: 20px; }
  .slide .dsp-svg {
    padding-top: 80px; }
  .slide .json, .slide .whale {
    margin-top: -55px;
    margin-left: -60px;
    width: 650px; }
  .slide .dom-diagram {
    margin-left: -80px;
    margin-top: -20px;
    width: 700px; }
  .slide blockquote strong {
    color: #dc322f; }
  .slide blockquote p {
    padding-right: 2.5em;
    margin-bottom: 1.25em;
    font-size: 24px;
    line-height: 1.5em; }
  .slide blockquote + p {
    padding-right: 3.75em;
    font-size: 24px;
    text-align: right; }
  .slide blockquote + p + p {
    padding-right: 3.75em;
    font-size: 18px;
    text-align: center; }
  .slide code {
    font-size: 20px; }
  .slide ol {
    list-style-type: upper-roman; }
  .slide table {
    margin-left: -60px;
    font-size: 24px;
    table-layout: fixed; }
    .slide table tr {
      height: 80px; }
  .slide section {
    margin-left: 17.05961%;
    padding: 80px 0; }
  .slide img {
    margin-left: -4.6875em;
    padding-top: 2.5em;
    width: 20.625em; }
  .slide ul li p {
    font-size: 1.5em; }
  .slide:not(.active) {
    opacity: 0.3; }
  .slide.title, .slide.section-title {
    padding: 100px 0; }
    .slide.title header, .slide.section-title header {
      position: relative;
      padding: 1.875em 0;
      width: 100%; }
      .slide.title header h1, .slide.section-title header h1 {
        font-size: 3em; }
      .slide.title header h2, .slide.section-title header h2 {
        text-align: center;
        color: #93a1a1; }
  .slide.section1 header, .slide.section1 th {
    background-color: #859900; }
  .slide.section2 header, .slide.section2 th {
    background-color: #268bd2; }
  .slide.section3 header, .slide.section3 th {
    background-color: #2aa198; }
  .slide.section4 header, .slide.section4 th {
    background-color: #6c71c4; }

.programme {
  background-color: #073642; }
  .programme header {
    background-color: #657b83;
    margin-right: 0; }
  .programme section {
    margin-left: 0%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .programme section:last-child {
      margin-right: 0; }
  .programme a > h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 1.25em;
    padding: 0.9375em;
    color: #fdf6e3; }
    .programme a > h2.section1 {
      background-color: #859900; }
    .programme a > h2.section2 {
      background-color: #268bd2; }
    .programme a > h2.section3 {
      background-color: #2aa198; }
    .programme a > h2.section4 {
      background-color: #6c71c4; }

.quote header h1, .normal header h1 {
  font-size: 1.5em; }
.quote header h2, .normal header h2 {
  font-size: 1.125em;
  background-color: #073642;
  padding: 0.5625em 0; }
.quote h1, .normal h1 {
  font-size: 3em;
  padding: 2.5em 0.625em; }
  .quote h1 span, .normal h1 span {
    color: #dc322f;
    margin: 0.3125em; }

body {
  position: relative;
  overflow-x: hidden; }
  body.default {
    left: 0; }
  @media screen and (max-width: 93.75em) {
    body.pushed {
      left: 14.375em;
      margin-left: 0.5em;
      margin-right: 0; } }

.main {
  padding: 0.5em 1em;
  *zoom: 1;
  display: block; }
  .main:before, .main:after {
    content: " ";
    display: table; }
  .main:after {
    clear: both; }
  @media screen and (max-width: 43.75em) {
    .main {
      padding: 0.5em;
      padding-top: 0em; } }
