---
title: "Programme"
type: "Programme"
order_prop: 2
---
{{#each presentations.rijksKickOff.titles }}
  <a href="#/{{parameterize title}}"><h2 class="{{>slideSection}}">{{this.title}}</h2></a>
{{/each}}
