@import "./bourbon/bourbon";
@import "./neat/neat";
@import "./custom_mixins/custom_mixins";

@import "./partials/_colors";
@import "./partials/_fonts";

@import "./partials/_base";

@import "./partials/_header";
@import "./partials/_site-nav";
@import "./partials/_footer";

@import "./partials/_post";

@import "./partials/_card";
@import "./partials/_profile";
@import "./partials/_snippet";


.main {
  padding-top: em(8px, 16px);
  padding-left: em(16px, 16px);
  padding-right: em(16px, 16px);
  @include row();
  


  @include media($mobile){
    padding-left: em(8px, 16px); 
    padding-right: em(8px, 16px); 
  }
}
