script(src="./vendor/jquery.js")
script(src="./app/bower_components/classie/classie.js")
script(src="./menu-panel.js")
script(src="./app/bower_components/impress.js/js/impress.js")
script(src="./scripts/slideshow.js")
