---
title: Sign Up
layout: angular-firebase
isPage: false
---
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">

  <!-- PAGE HEADER -->
  <div class="page-header">
    <h2>Pilot Sign Up Form</h2>
  </div>

  <button ng-click="login()" ng-disabled="currentUser">Login with Github</button>
  <button ng-click="logout()" ng-disabled="!currentUser">Logout</button>

  <form name="userForm" ng-show="showForm" ng-submit="submitForm(userForm.$valid)" novalidate>
    <!--  <img ng-src="{{ currentUser.avatar_url }}"></img> -->

    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <label>User Name</label>
      <input type="text" name="user-name" class="form-control" ng-model="currentUser.userName" required>
      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Username is required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <label>Full Name</label>
      <input type="text" name="name" class="form-control" ng-model="currentUser.fullName" required></input>
      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
    </div>

    <!-- STUDENT NUMBER -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.studno.$invalid && !userForm.studno.$pristine }">
      <label>Student number</label>
      <input type="text" name="studno" class="form-control" ng-model="currentUser.studno" ng-minlength="7" ng-maxlength="9"></input>
      <p ng-show="userForm.studno.$error.minlength" class="help-block">Student number is too short.</p>
      <p ng-show="userForm.studno.$error.maxlength" class="help-block">Student number is too long.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" ng-model="currentUser.email" required></input>
      <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>

    <!-- STUDY -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.study.$invalid && !userForm.study.$pristine }">
      <label>Study</label>
      <input type="text" name="study" class="form-control" ng-model="currentUser.study" required></input>
      <p ng-show="userForm.study.$invalid && !userForm.study.$pristine" class="help-block">Study/discipline must be filled in.</p>
    </div>

    <!-- YEAR -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.year.$invalid && !userForm.year.$pristine }">
      <label>Year</label>
      <select name="year" class="form-control" ng-model="currentUser.studyYear" ng-options="id as value for (id, value) in yearOptions" required></select>
      <p ng-show="userForm.year.$invalid && !userForm.year.$pristine" class="help-block">Please choose a year.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.experience.$invalid && !userForm.experience.$pristine }">
      <label>Programming Experience (languages, years of experience, etc.)</label>
      <input type="text" name="experience" class="form-control" ng-model="currentUser.codingExperience" required></input>
      <p ng-show="userForm.experience.$invalid && !userForm.experience.$pristine" class="help-block">Experience must be filled (fill in 'none' if you have none).</p>
    </div>

    <!-- MOTIVATION -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.motivation.$invalid && !userForm.motivation.$pristine }">
      <label>*Motivation</label>
      <textarea name="motivation" class="form-control" ng-model="currentUser.motivation" ng-minlength="100" required></textarea>
      <p ng-show="userForm.motivation.$error.minlength" class="help-block">Motivation is too short. Should be at least 100 characters.</p>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
  </form>
  <h1 ng-show="currentUser.registered">Thank you for signing up to the Coding the Humanities pilot! You will be notified soon!</h1>
</div>
</div>
</body>
