---
title: 'Learn'
layout: 'default'
isPage: true
---
{{#each learnResources }}
  <section class="card">
    <header class="card-header">
      <h1>{{name}}</h1>
    </header>
    <section class="card-content">
      <table>
        {{#each resources}}
          <tr>
            <th>{{@key}}</th>
          <tr>
          {{#each this}}
            <tr>
              <td><a href="{{info.url}}">{{title}}</a></td>
            </tr>
          {{/each}}
        {{/each}}
      </table>
    </section>
  </section>
{{/each}}
