---
title: 'People'
layout: 'default'
isPage: true
---
{{#each peopleProfiles }}
  <section class="card profile">
    <div class="profile-picture">
      <img src="{{ profile_picture }}"></img>
    </div>
    <header>
      <h1>{{title}}</h1>
    </header>
    <section class="content">
      {{{ contentRenderedWithoutLayouts }}}
    </section>
  </section>
{{/each}}
