---
title: 'People'
layout: 'default'
isPage: true
---
<nav class="sidebar">
  <ul>
    <li>placeholder</li>
  </ul>
</nav>
<section class="content">
  {{#each peopleProfiles }}
    <section class="card profile">
      <div class="profile-picture">
        <img src="{{ profile_picture }}"></img>
      </div>
      <header>
        <h1>{{title}}</h1>
      </header>
      <section>
        {{{ contentRenderedWithoutLayouts }}}
      </section>
    </section>
  {{/each}}
</section>
