---
title: 'Vision'
layout: 'default'
isPage: true
---
{{#each visionSnippets }}
  <section class="card">
    <header>
      <h1>{{title}}</h1>
    </header>
    <section class="snippet">
      {{{ contentRenderedWithoutLayouts }}}
    </section>
  </section>
{{/each}}
