---
title: 'Vision'
layout: 'default'
isPage: true
---
<nav class="sidebar">
  <ul>
    <li>placeholder</li>
  </ul>
</nav>
<section class="content">
  {{#each visionSnippets }}
  <section class="card snippet">
    <header>
      <h1>{{title}}</h1>
    </header>
    <section>
      {{{ contentRenderedWithoutLayouts }}}
    </section>
  </section>
  {{/each}}
</section>
