---
title: 'Vision'
layout: 'default'
isPage: true
---
{{#each visionSnippets }}
  <section class="card snippet">
    <header class="card-header">
      <h1>{{title}}</h1>
    </header>
    <section class="card-content">
      {{{ contentRenderedWithoutLayouts }}}
    </section>
  </section>
{{/each}}
