---
layout: "default"
---
<div class="slides impress-not-supported">
  <div id="impress">
    {{{ content }}}
  </div>
  {{{ getBlock "scripts" "./vendor/jquery.js" }}}
  {{{ getBlock "scripts" "./vendor/impress.js" }}}
  {{{ getBlock "scripts" "./scripts/slideshow.js" }}}
</div>
