!!!
html
  != partial("./head.html.jade.hbs")
  body.default
    != partial("./menu-panel.html.jade.hbs")
    != partial("./site-header.html.jade.hbs")
    != partial("./presentation-content.html.hbs", this)
    != partial("./site-footer.html.jade")
  != partial("./scripts-presentation.html.jade")
